<main class="container">
  <%= link_to sanitize("&larr; Back to moves"), moves_path %>

  <div class="header">
    <h1>New Move</h1>
  </div>

  <%= turbo_frame_tag @move do %>
    <%= render "form", move: @move %>
  <% end %>
</main>