<main class="container">
  <%= link_to sanitize("&larr; Back to Moves"), moves_path %>
  <h1><%= @move.name %></h1>
  <p><strong>Description:</strong> <%= @move.description %></p>
  <hr />
  <%= render 'buttons', move: @move %>
</main>